body {
  background-color: rgb(40,40,40);
  font-family: Arial, Helvetica, sans-serif;
}

.Todo-App  h1 {
  color:white;
  text-align: center;
}

.Todo-App span {
  color:lightslategray;
  font-size: 18px;
  text-align: center;
}

.Todo-App  Todolist {
  color:white;
  text-align: center;
}
